.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 45%;
  display: inline-block;
}
.text {
  font-family: 'Inter UI';
  font-size: 1.4rem;
  line-height: 2.2rem;
  width: 45%;
  display: inline-block;
}
.button {
  margin: 4rem auto 0 auto;
}
.button ion-icon {
  font-size: 2rem;
}
.button p {
  font-size: 2.3rem;
  display: inline;
}
.featured {
  height: 80vh;
}
.featured h3 {
  font-family: Inconsolata;
}
.featured .flex {
  flex-direction: column;
  align-items: flex-start;
}
