.front {
  width: 100%;
  height: 40rem;
}
.link{
  color: #ededed;
}
.link:visited {
  color: #ededed;
}
.frontContainer {
  width: 60%;
  height: 40rem;
  position: absolute;
  left: 0;
  background-color: #082e49a7;
  z-index: 1;
}
.titleText{
  font-family: Inconsolata;
  font-size: 8rem;
  font-weight: lighter;
  padding-left: 6vw;
  padding-top: 1rem;
  color: #db3360;
  margin: 0;
}
.tagline {
  margin-top: 2rem;
  padding-left: 6vw;
  font-weight: lighter;
  font-family: Inter UI;
  font-size: 2.2rem;
  position: inline;
  color: #ededed;
  font-style: italic;
  bottom: initial;
}
.subtext {
  font-family: Inconsolata;
  padding-left: 6vw;
  position: absolute;
  bottom: 2rem;
  font-size: 2.4rem;
  color: #cccccc;
  font-weight: lighter;
}
.container {
  width: 40%;
  background-color: #2d2d40;
  color: #dee5e7;
  box-sizing: border-box;
  padding: 2rem;
  height: 40rem;
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  right: 0;
}
.infoHeader {
  font-family: Inconsolata, monospace;
  font-size: 2.6rem;
  font-weight: lighter;
}
.infoHeader strong {
  color: #db3360;
}
.infoParagraph {
  font-family: 'Inter UI', sans-serif;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.infoLink {
  font-family: Inconsolata;
  font-size: 2.5vw;
  color: #7093d9;
  width: fit-content;
}
.infoLink:visited {
  color: #7093d9;
}
